In [8]:
# Load latest IVF Clinic file
import numpy as np
import pandas as pd

In [11]:
df = pd.read_excel('FINAL-2017-Clinic-Table-Dataset.xlsx', sheet_name='Clinic Table Data Records')
print('shape', df.shape)
df = df[['CurrentClinicName1', 'CurrentClinicCity', 'CurrentClinicState', 'TotNumCycles1', 'TotNumCycles2']]
df.head(2)

shape (448, 164)

,CurrentClinicName1,CurrentClinicCity,CurrentClinicState,TotNumCycles1,TotNumCycles2
0,ALABAMA FERTILITY SPECIALISTS,BIRMINGHAM,ALABAMA,58,19
1,ART FERTILITY PROGRAM OF ALABAMA,BIRMINGHAM,ALABAMA,208,104

In [12]:
df.to_csv('clinics.csv', index=False)

Go to app.py